---
import BeerCSS from "./BeerCSS.astro";
import type { ComponentProps } from "./components";
import { getDefaultProps } from "./components";

interface Props extends ComponentProps {}

const props = getDefaultProps(Astro.props as Props);
---

<BeerCSS>
  <button class={`${props.helpers} ${props.class}`}><slot /></button>
</BeerCSS>
