<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>material-astro</title>
		<style is:global>
			html,
			body {
				margin: 0;
				padding: 0;
			}

			body {
				height: 100%;
				background-color: light-dark(hsl(264, 19%, 89%), hsl(264, 19%, 11%));
				color: light-dark(black, white);
				font-family: "Roboto", sans-serif;
				font-size: 1rem;
			}

			*,
			*::after,
			*::before {
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
